#text, #confirm, #cancel{
  display: table-cell;
}
#text{
  height: 70px;
}
#confirm{
  vertical-align: middle;
}
#cancel{
  vertical-align: middle;
}
.red_cancel {
    background-color: #a90329;
    background-image: linear-gradient(to bottom, #a90329, #6d0019);
    border: 1px solid #72021c;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    font-family: arial,helvetica,sans-serif;
    font-size: 28px;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
    #popup{
      -moz-user-select: none;
      background-color: #FEEFB3;
      border: 4px solid #C6C6C6;
      border-radius: 15px 15px 15px 15px;
      color: #9F6000;
      font-size: 28px;
      height: 159px;
      left: 38%;
      padding: 5px;
      position: absolute;
      text-align: center;
      top: 28%;
      width: 319px;
      z-index: 991;
    }
    #cover{
      display:none;
      position: absolute;
      width: 100%;
      height: 102%;
      left: 0%;
      top: 0%;
      z-index: 990;
      opacity: 0.5;
    }
    #popupkeyboard{
                height: 255px ! important;
            }