		#row2 {
			height:100%;
		}
		
		.d {
			position:relative;
			color: #000000;
			font-family: "Nimbus Sans L","Arial Narrow",sans-serif;
			font-size: 1.4em;
			margin-bottom: 8px;
			margin-top: 2px;
			padding: 10px;
		}
		
		.dL {
			position: relative;
			display : block;
			width: 45%;
			font-weight: bold;
			padding-left: 30px;
			float:left;
		}

		.dC {
			position: relative;
			display : block;
			width: 2%;
			float:left;
		}
		
		.dR {
			position: relative;
			display : block;
			width: 35%;
			float:left;
			word-wrap:break-word;
		}
		
		.orange {
			background-color:orange;
			margin-left:20px;
			color:black;
		}
